<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.gsh-movie-mapper">


	<!-- 최신등록된 영화 목록 가져오기 -->
	<select id="select_movieAll" resultType="GshMovieDto">
		select m.movie_code movie_code, movie_name, movie_main_image, movie_grade, review_score
	    from tbl_movie m, (select movie_code, round(avg(review_score)) review_score
	    from tbl_review
	    group by movie_code) r
	    where m.movie_code = r.movie_code(+)
		order by m.movie_regist_date desc
	</select>

	<!-- 영화이름으로 영화 찾기 -->
	<select id="select_movie_name">
		select * from tbl_movie
		where
		<if test='keyword != ""'>
			<choose>
				<when test='findMovieName == "movie_name"'>
					movie_name like '%' || #{keyword} || '%'
				</when>
				<when test='findMovieGenre == "movie_genre"'>
					movie_genre like '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
	</select>
	
	<!-- 영화감독 이름으로 영화 찾기 -->
	<select id="select_movie_director">
		select * from tbl_movie
		where movie_director = #{movie_director}
	</select>
	
	<!-- 영화배우 이름으로 영화 찾기 -->
	<select id="select_movie_actor">
		select * from tbl_movie
		where movie_actor = #{movie_actor}
	</select>
	
	<!-- 영화등급으로 영화 찾기 -->
	<select id="select_movie_grade">
		select * from tbl_movie
		where movie_grade = #{movie_grade}
	</select>

	
	<!--  영화 코드로 영화정보 찾기 -->
	<select id="select_movie_code" resultType="GshMovieDto">
<!-- 		select * from tbl_movie -->
<!-- 		where movie_code = #{movie_code} -->

			select * from
			    (select * from tbl_movie
			     where movie_code = #{movie_code}),
			    (select round(avg(review_score)) review_score from tbl_review
			     where movie_code = #{movie_code})
	</select>
	
	<!-- 영화 내용 가져오기 -->
	<select id="select_movie_content" resultType="GshMovieDto">
		select m.movie_code, m.movie_name, m.movie_genre, m.movie_director, m.movie_actor, m.movie_grade, m.movie_main_image, m.movie_content, r.review_content,  r.review_score
		from tbl_movie m , tbl_review r
		where m.movie_code = #{movie_code}
		and m.movie_code = r.movie_code
	</select>
	
	<!-- 영화 서브 이미지(스틸컷) 가져오기 -->
	<select id="select_movie_sub_iamage" resultType="string">
		select movie_sub_image from tbl_movie_image
		where movie_code = #{movie_code}
	</select>
	
</mapper>