<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.gsh-review-mapper">
	
<!-- 	리뷰번호	review_num -->
<!-- 	영화코드	movie_code -->
<!-- 	아이디	user_id -->
<!-- 	평점	review_score -->
<!-- 	내용	review_content -->
<!-- 리뷰 번호(PK)를 기준으로 리뷰 수정 - readonly -->
	
	<!-- 영화 리스트 가져오기 -->
	<select id="select_review_num">
		select * from tbl_review
		order by review_num desc
	</select>
	
		<!-- 영화 정보 찾기  -->
	<select id="select_review_code" resultType="GshMovieDto">
		select *
		from tbl_movie m, tbl_review r
		where m.movie_code = r.movie_code
		order by review_num desc
	</select>
	
	<!-- 리뷰 삭제하기 -->
	<delete id="delete_review">
		delete from tbl_review
		where review_num = #{review_num};
	</delete>
	
	<!-- 리뷰 수정하기 -->
	<update id="update_review">
		update tbl_review
		set review_content = #{board_title}, #{user_id}, #{review_content}
		where review_num = #{review_num}
	</update>
	
		<!-- 영화 리뷰 작성하기 -->
<!-- 	<insert id="insert_movie_review"> -->
<!-- 		insert into tbl_review(review_num, movie_name, user_id, review_score, regist_date) -->
<!-- 		values() -->
<!-- 	</insert> -->

	
</mapper>