<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.jmh-event-mapper">

<!-- 이벤트 리스트 조회 -->
<select id = "eventList" resultType="JmhEventVo">
	select * from tbl_event
	<if test="searchType != null">
		<choose>
			<when test="searchType == 'ename'">
			where event_title like '%' || #{keyword} || '%'
			and #{event_date} between event_start_date and event_end_date
			</when>
		</choose>
	</if>
	where #{event_date} between event_start_date and event_end_date
	order by event_code desc
</select>

<!-- [admin]이벤트 리스트 조회 -->
<select id = "adminEventList" resultType="JmhEventVo">
	select * from tbl_event
	<if test="searchType != null">
		<choose>
			<when test="searchType == 'ename'">
			where event_title like '%' || #{keyword} || '%'
			</when>
		</choose>
	</if>
	order by event_code desc
</select>

<!--  이벤트 등록 -->
<insert id="eventRegister">
	insert into tbl_event(event_code, event_title, event_content, event_start_date, event_end_date, event_thumb_image, event_content_image)
	values(seq_event_code.nextval,#{event_title}, #{event_content}, #{event_start_date}, #{event_end_date}, #{event_thumb_image}, #{event_content_image})
</insert>

<!--  이벤트 상세보기 -->
<select id="selectBeEvent" resultType="JmhEventVo">
	select * from tbl_event
	where event_code = #{event_code}
</select>

<!--  이벤트 수정 -->
<update id="eventUpdate">
	update tbl_event set
		event_title = #{event_title},
		event_content = #{event_content},
		event_start_date = #{event_start_date},
		event_end_date = #{event_end_date},
		event_thumb_image = #{event_thumb_image},
		event_content_image = #{event_content_image}
	where event_code = #{event_code}
</update>

<!--  지난 이벤트 보기 -->
<select id="pastEventList" resultType="JmhEventVo">
	select * from tbl_event
	where event_end_date <![CDATA[ < ]]>= #{event_end_date}
</select>

<!--  [admin]이벤트 총 갯수 가져오기 -->
<select id="adminGetCountEvent" resultType="int">
	select count(*) from tbl_event
</select>

<!--  이벤트 총 갯수 가져오기 -->
<select id="getCountEvent" resultType="int">
	select count(*) from tbl_event
	where #{event_date} between event_start_date and event_end_date
</select>

<!--  이벤트 페이징 -->
<select id="eventListPaging" resultType="JmhEventVo">
	select * from (
		select rownum rnum, a.* from (
			select * from tbl_event 
			<if test="searchType != null">
				<choose>
					<when test="searchType == 'ename'">
					where event_title like '%' || #{keyword} || '%'
					and #{event_date} between event_start_date and event_end_date
					</when>
				</choose>
			</if>
			<if test="searchType == null">
				where #{event_date} between event_start_date and event_end_date
			</if>
			order by event_code desc)
		 a)
	where rnum between #{startRow} and #{endRow}
	
</select>

<!--  [theaterView] 진행이벤트 3개 가져오기 -->
<select id="selectEventThree" resultType="JmhEventVo">
	select * from (select rownum rnum, a.* from (
		select * from tbl_event 
    	where #{event_date} between event_start_date and event_end_date
    	order by event_code desc) a)
	where rnum between 1 and 3
</select>
</mapper>