<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.jmh-movie-mapper">

	<!-- 영화 조회 -->
	<select id="getMovieList" resultType="JmhMovieVo">
		select * from tbl_movie
		order by movie_num desc
	</select>
	
	<!--  영화 등록 -->
	<insert id="movieRegister">
	insert into tbl_movie(movie_code, movie_name, movie_genre, movie_director, movie_actor, movie_open_date, movie_total_time,
				movie_main_image, movie_regist_date, movie_grade, movie_preview, movie_num, movie_content)
	values('MC' || seq_movie_num.nextval, #{movie_name}, #{movie_genre}, #{movie_director}, #{movie_actor}, #{movie_open_date},
			#{movie_total_time}, #{movie_main_image}, sysdate, #{movie_grade}, #{movie_preview}, seq_movie_num.nextval, #{movie_content})
	</insert>	

	<!--  영화상세이미지 등록 -->
	<insert id="movieSubImageRegister">
		insert into tbl_movie_image(movie_code, movie_sub_image)
		values(#{movie_code}, #{movie_sub_image})
	</insert>

	<!--  영화 상세정보 보기 -->
	<select id="selectByMovie" resultType="JmhMovieVo">
		select * from tbl_movie
		where movie_code = #{movie_code}
	</select>
	
	<!--  영화 상세정보_subImage 가져오기 -->
	<select id="selectByMovieSubImage" resultType="JmhMovieImageVo">
		select * from tbl_movie_image
		where movie_code = #{movie_code}
	</select>
	
	<!-- 영화코드 조회 -->
	<select id="selectMovieCode" resultType="string">
	select * from
		(select movie_code, rownum as rnum 
		                from tbl_movie
		                order by movie_code desc)
		where rnum = 1
	</select>

</mapper>