<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.kdh-food-mapper">

<!-- 상품 전체 조회 -->
<select id="listFood" resultType="KdhFoodVo">
	select * from tbl_food
	order by food_num desc
</select>
	
<!-- 해당 상품 조회 -->
<select id="selectFoodbyNum" resultType="KdhFoodVo">
	select * from tbl_food
	where food_num = #{food_num}
</select>

<!-- food number 100(스낵)만 9개 선택 -->
<select id="listFoodCode100" resultType="KdhFoodVo">
select *
from (select rownum rnum, a.*
        from (select * from tbl_food
            where food_code = 100
            order by food_num desc) a)
where rnum between #{startRow} and #{endRow}
</select>

<!-- food number 200(음료)만 9개 선택 -->
<select id="listFoodCode200" resultType="KdhFoodVo">
select *
from (select rownum rnum, a.*
        from (select * from tbl_food
            where food_code = 200
            order by food_num desc) a)
where rnum between #{startRow} and #{endRow}
</select>

<!-- food number 300(패키지)만 9개 선택 -->
<select id="listFoodCode300" resultType="KdhFoodVo">
select *
from (select rownum rnum, a.*
        from (select * from tbl_food
            where food_code = 300
            order by food_num desc) a)
where rnum between #{startRow} and #{endRow}
</select>

<!-- 최근 상품 3개 구하기 -->
<select id="listLatestFood" resultType="KdhFoodVo">
select *
from(select * from tbl_food
order by food_num desc)
where rownum between 1 and 3
</select>

<!-- 상품 페이징 -->
<select id="listPage" resultType="KdhFoodVo">
select *
from (select rownum rnum, a.*
        from (select * from tbl_food
            order by food_num desc) a)
where rnum between #{startRow} and #{endRow}
</select>

<!-- 상품 총 개수 구하기 -->
<select id="foodCount" resultType="int">
select count(*) from tbl_food
</select>

<!-- food number 100(스낵) 상품 개수 구하기  -->
<select id="CountFoodCode100" resultType="int">
select count(*) from tbl_food
where food_code = 100
</select>

<!-- food number 200(음료) 상품 개수 구하기 -->
<select id="CountFoodCode200" resultType="int">
select count(*) from tbl_food
where food_code = '200'
</select> 

<!-- food number 300(패키지) 상품 개수 구하기  -->
<select id="CountFoodCode300" resultType="int">
select count(*) from tbl_food
where food_code = '300'
</select>

<!-- 해당 구매 상품 조회 -->
<select id="selectBuyFoodbyNum" resultType="KdhBuyFoodInfo">
	select * from tbl_food
	where food_num = #{food_num}
</select>
</mapper>