<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.kdh-food-mapper">

<!-- 상품 전체 조회 -->
<select id="selectListFood" resultType="KdhFoodVo">
	select * from tbl_food
	order by food_num desc
</select>
	
<!-- 해당 상품 조회 -->
<select id="selectFoodbyNum" resultType="KdhFoodVo">
	select * from tbl_food
	where food_num = #{food_num}
</select>

<!-- food number 100(스낵)만 9개 선택 -->
<select id="selectListFoodCode100" resultType="KdhFoodVo">
select *
from (select rownum rnum, a.*
        from (select * from tbl_food
            where food_code = 100
            order by food_num desc) a)
where rnum between #{startRow} and #{endRow}
</select>

<!-- food number 200(음료)만 9개 선택 -->
<select id="selectListFoodCode200" resultType="KdhFoodVo">
select *
from (select rownum rnum, a.*
        from (select * from tbl_food
            where food_code = 200
            order by food_num desc) a)
where rnum between #{startRow} and #{endRow}
</select>

<!-- food number 300(패키지)만 9개 선택 -->
<select id="selectListFoodCode300" resultType="KdhFoodVo">
select *
from (select rownum rnum, a.*
        from (select * from tbl_food
            where food_code = 300
            order by food_num desc) a)
where rnum between #{startRow} and #{endRow}
</select>

<!-- 최근 상품 3개 구하기 -->
<select id="selectListLatestFood3" resultType="KdhFoodVo">
select *
from(select * from tbl_food
order by food_num desc)
where rownum between 1 and 3
</select>

<!-- 상품 페이징 -->
<select id="listPage" resultType="KdhFoodVo">
select *
from (select rownum rnum, a.*
        from (select * from tbl_food
            order by food_num desc) a)
where rnum between #{startRow} and #{endRow}
</select>

<!-- 상품 총 개수 구하기 -->
<select id="selectFoodCount" resultType="int">
select count(*) from tbl_food
</select>

<!-- food number 100(스낵) 상품 개수 구하기  -->
<select id="selectCountFoodCode100" resultType="int">
select count(*) from tbl_food
where food_code = 100
</select>

<!-- food number 200(음료) 상품 개수 구하기 -->
<select id="selectCountFoodCode200" resultType="int">
select count(*) from tbl_food
where food_code = '200'
</select> 

<!-- food number 300(패키지) 상품 개수 구하기  -->
<select id="selectCountFoodCode300" resultType="int">
select count(*) from tbl_food
where food_code = '300'
</select>

<!-- 해당 구매 상품 조회 -->
<select id="selectBuyFoodbyNum" resultType="KdhBuyFoodInfo">
	select * from tbl_food
	where food_num = #{food_num}
</select>

<!-- 구매 내역 테이블 데이터 입력 -->
<insert id="insertFoodBuy">
	insert into tbl_food_buy(food_buy_num, food_num, user_id, food_buy_total_price, food_buy_date, food_buy_count)
	values(seq_food_buy_num.nextval, #{food_num}, #{user_id}, #{food_buy_total_price}, sysdate, #{food_buy_count})
</insert>

<!-- 구매 내역 리스트 테이블 테이터 입력 -->
<insert id="insertFoodBuyList">
	insert into tbl_food_buy_list(food_buy_list_num, food_buy_code, food_num, user_id, food_buy_total_price, food_buy_date,food_buy_count,food_buy_check)
	values(seq_food_buy_list_num.nextval, 'FC' || seq_food_buy_list_num.nextval, #{food_num}, #{user_id}, #{food_buy_total_price}, sysdate, #{food_buy_count}, default)
</insert>

<!-- 유저정보 가져오기 -->
<select id="selectUserInfo" resultType="KdhUserVo">
	select * from tbl_user
	where user_id = #{user_id}
</select>

<!-- buy.jsp에 쓸 산 금액만 가져오기 -->
<select id="selectBuyPrice" resultType="int">
	select food_buy_total_price from tbl_food_buy
	where user_id = #{user_id}
</select>

<!-- 상품 정보 업데이트 -->
<update id="updateFoodbyNum">
	update tbl_food set
    food_image = #{food_image},
    food_name = #{food_name},
    food_code = #{food_code},
    food_price = #{food_price},
    food_count = #{food_count}
	where food_num = #{food_num}
</update>

<!-- 상품 삭제하기 -->
<delete id="deleteFoodByNum">
	delete from tbl_food
	where food_num = #{food_num}
</delete>

<!-- 구매 내역 삭제하기 -->
<delete id="deleteFoodBuy">
	delete tbl_food_buy
	where food_num = #{food_num}
</delete>

<!-- 상품 등록하기 -->
<insert id="insertFood">
	insert into tbl_food(food_num,food_code,food_name,food_price,food_count,food_image)
	values(seq_food_num.nextval, #{food_code}, #{food_name}, #{food_price}, #{food_count}, #{food_image})
</insert>
</mapper>