<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.sgh-booking-mapper">
	<!-- 상영 회차에 등록된 영화 시간을 골라서 오늘 하는 영화 중 해당 영화 가져오기 -->
	<select id="getChoiceMovieList" resultType="SghBookingVo">
		select mt.*, m.movie_code, m.movie_name, m.movie_grade, s.screen_name, s.screen_total_seat, c.rmn_sts
		from tbl_movie_schedule sd, tbl_movie m, tbl_movie_screen s, 
		(select movie_time_code, count(*) rmn_sts from tbl_schedule_seat s where seat_check = 'N' group by movie_time_code) c,
		(select movie_time_code, movie_schedule_code, screen_code, to_char(movie_start_time, 'YYYY-MM-DD') start_date, to_char(movie_start_time, 'HH24:MI') start_time, movie_end_time from tbl_movie_time) mt
		where mt.start_date = #{start_date} and m.movie_code = #{movie_code}
		and mt.movie_schedule_code = sd.movie_schedule_code
		and sd.movie_code = m.movie_code
		and mt.screen_code = s.screen_code
		and mt.movie_time_code = c.movie_time_code
	</select>
</mapper>