<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.sgh-schedule-mapper">
	<!-- 상영작으로 등록된 영화 가져오기 -->
	<select id="scheduleList" resultType="SghScheduleVo">
		select s.movie_schedule_code, s.movie_code, m.movie_name, to_char(s.movie_start_date, 'YYYY/MM/DD') movie_start_date, to_char(s.movie_end_date, 'YYYY/MM/DD') movie_end_date, t.theater_name
		from tbl_movie_schedule s, tbl_movie m, tbl_theater t
		where s.movie_code = m.movie_code and s.theater_code = t.theater_code
	</select>
	<!-- 등록된 영화 이름 가져오기 -->
	<select id="getMovieName" resultType="SghMovieNameVo">
		select distinct movie.movie_name, movie.movie_code
		from tbl_movie_schedule schedule, tbl_movie movie 
		where schedule.theater_code = #{theater_code} and schedule.movie_code = movie.movie_code
	</select>
	<!-- 상영작으로 등록하기 -->
	<insert id="insertMovieSchedule">
	insert into tbl_movie_schedule(movie_schedule_code, movie_code, theater_code, movie_start_date, movie_end_date, movie_schedule_num)
	values('SC' || seq_movie_schedule_num.nextval, #{movie_code}, #{theater_code}, #{movie_start_date}, #{movie_end_date}, seq_movie_schedule_num.nextval)
	</insert>
	<!-- 등록된 영화 하나 가져오기 -->
	<select id="getMovieScheduleOne" resultType="SghScheduleVo">
		select movie_schedule_code, movie_code, theater_code, to_char(movie_start_date, 'YYYY-MM-DD') movie_start_date, to_char(movie_end_date, 'YYYY-MM-DD') movie_end_date, movie_schedule_num
		from tbl_movie_schedule where movie_schedule_code = #{movie_schedule_code}
	</select>
	<update id="updateSchedule">
		update tbl_movie_schedule set
		    movie_code = #{movie_code},
		    theater_code = #{theater_code},
		    movie_start_date = #{movie_start_date},
		    movie_end_date = #{movie_end_date}
		where movie_schedule_code = #{movie_schedule_code}
	</update>
</mapper>